@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  background-color: #FEFDEA !important;
  box-sizing: border-box;
}

.navBar {
  background-color: #FEFDEA !important;
}
#navbarNavDarkDropdown{
  justify-content: end !important;
}

.legumes {
  background-color: #3fb373 !important;
  opacity: 95%;
}

.bt_legume {
  border: none !important;
  font-size: 20px !important;
}

.btn_menu {
  background-color: #3fb373 !important;
}

.modal_color {
  background-color: #3FB373 !important;
}

.btn_close {
  background-color: #02893E !important;
  color: white !important;
  margin-top: -150px;
}

.btn_close:hover {
  background-color: #0b783c !important;
}

.icon_btn {
  width: 50px;
}

.btn_button {
  background-color: transparent !important;
  border-color: transparent !important
}

.footerModal {
  height: 113px !important;
}

.modal-body {
  height: 400px;
}
.foto-beterraba {
    position: relative;
    left: -20%;
}

ol li::marker{
  font-size: 3em;
}
#barras{
  display: flex;
  flex-direction: column;
}

.texto{
  bottom: 20px !important;
  position: relative;
  margin-left: 10px;
  color: white;
}
.textos {
  color: black;
}
ol{
  margin-left: 5%;

}

ol li{
  background-color: #02893E;
  border-radius: 5px; 
}